<div class="container">
    <h2>add new user</h2>
    <form id="user-creation-form" action="/api/admin/users" method="post">
<!--        <input type="hidden" name="_method" value="put">-->

        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" name="lastName" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="email">username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">password:</label>
        <input type="text" id="password" name="password" required>

        <div>
            <p>Изменить роль</p>
            <label>
                <input type="checkbox" name="authorities" value="USER">
                USER
            </label>

            <label>
                <input type="checkbox" name="authorities" value="ADMIN">
                ADMIN
            </label>
        </div>

        <button type="submit"> add new user</button>
    </form>
</div>