<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${isEdit} ? 'Обновление пользователя' : 'Добавить пользователя'"></title>
</head>
<body>
<th:block th:insert="~{fragments/logout-fragment :: logout}"></th:block>
<div class="container">
    <div class="error" th:if="${errors}">
        <ul>
            <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
        </ul>
    </div>

    <h2 th:text="${isEdit} ? 'Обновление пользователя' : 'Добавить пользователя'"></h2>
    <form th:action="${isEdit} ?  @{/admin/users/{id}(id=${user.id})} : @{/users}" method="post">
        <input type="hidden" name="_method" value="put" th:if="${isEdit}">

        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" name="firstName" th:value="${isEdit} ? ${user.firstName} : ''" required>

        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" name="lastName" th:value="${isEdit} ? ${user.lastName} : ''" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="${isEdit} ? ${user.email} : ''" required>

        <div>
            <p>Изменить роль</p>
            <label>
                <input type="checkbox" name="roles" value="USER"
                       th:checked="${isEdit and #lists.contains(user.roles.![name.value], 'USER')}">
                USER
            </label>

            <label>
                <input type="checkbox" name="roles" value="ADMIN"
                       th:checked="${isEdit and #lists.contains(user.roles.![name.value], 'ADMIN')}">
                ADMIN
            </label>
        </div>

        <button type="submit" th:text="${isEdit} ? 'Обновить' : 'Зарегистрироваться'"></button>
    </form>
</div>

</body>
</html>
