<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h2>Обновление пользователя</h2>
    <form th:action="@{/users/{id}(id=${user.id})}" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" id="id" name="id" value="1">

        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" name="firstName" th:value="${user.firstName}" required>

        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" name="lastName" th:value="${user.lastName}" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="${user.email}" required>

        <button type="submit">Обновить</button>
    </form>
</div>

</body>
</html>